<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor Portal - Registered Patients</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='doctor-portal.css') }}">
</head>
<body>
  <div class="portal-container">
    <h2>Registered Patients</h2>
    
    <table class="patient-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Gender</th>
          <th>Form Status</th>
          <th>Upload Prescription</th>
        </tr>
      </thead>
      <tbody>
        {% for patient in patients %}
        <tr>
          <td>{{ patient[1] }}</td>
          <td>{{ patient[3] }}</td>
          <td>{{ patient[4] }}</td>
          <td>{{ patient[5] }}</td>
          <td>
            {% if 0 %}
              <span class="status complete">Form Completed</span>
            {% else %}
              <span class="status pending">Form Pending</span>
            {% endif %}
          </td>
          <td style="text-align: center;">
            <form action="{{ url_for('upload_prescription', name=patient[0]) }}" method="post" enctype="multipart/form-data">
              <input type="file" name="prescription" accept=".pdf,.jpg,.png" id="file_input" onchange = "button_display()" required><br><br>
              <button type="submit" id="file_button" disabled="true">Upload</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <div class="btn-container">
      <a href="/logout" class="logout-btn">Logout</a>
    </div>
  </div>
  <script>
    function button_display() {
      const button = document.getElementById("file_button");
      const file = document.getElementById("file_input");
      if (file.files.length == 0) {
        button.disabled = true;
      } else {
        button.disabled = false;
      }
    }
  </script>
</body>
</html>
