<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Details - Health Records</title>
  <link rel="stylesheet" href="{{url_for('static', filename='patient-portal.css')}}">
</head>
<body>
  <div class="details-container">
    <h2>User Details</h2>
    
    <div class="profile-card">
      <div class="profile-header">
        <img src="{{ url_for('static', filename='Sinister_Six.jpg') }}" alt="User Photo" class="profile-img">
        <div class="profile-data">
          <h3 id="user-name">{{ username }}</h3>
          <p id="user-role">Patient</p>
        </div>
      </div>
      
      <div class="details-grid">
        <div class="detail-item">
          <span class="label">Email:</span>
          <span id="user-email">{{ patients[3] }}</span>
        </div>
        <div class="detail-item">
          <span class="label">Gender:</span>
          <span id="user-gender">{{ patients[5] }}</span>
        </div>
        <div class="detail-item">
          <span class="label">Phone:</span>
          <span id="user-phone">{{ patients[4] }}</span>
        </div>
        <div class="detail-item">
          <span class="label">Address:</span>
          <span id="user-address">Kochi, Kerala</span>
        </div>
        <div class="detail-item">
          <span class="label">Health ID:</span>
          <span id="user-healthid">HR123456</span>
        </div>
        <div class="detail-item">
          <span class="label">Insurance Provider:</span>
          <span id="user-insurance">{{ patients[6] }}</span>
        </div>
      </div>
    </div>
    
    <div class="btn-container">
      <a href="/patient" class="action-btn">Edit Details</a>
      <a href="/logout" class="logout-btn">Logout</a>
    </div>
  </div>
  <div class="prescriptions-container">
      <h2>Prescriptions</h2>
      <table class="prescription-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Specialty</th>
          <th>Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for prescription in prescriptions %}
        <tr>
          <td>{{ prescription[0] }}</td>
          <td>{{ prescription[1] }}</td>
          <td>{{ prescription[2] }}</td>
          {% if prescription[3] == 'Active' %}
            <td><span class="prescription-active">Active</span></td>
          {% else %}
            <td><span class="prescription-expired">Expired</span></td>
          {% endif %}
          <td>
            <button class="prescription-button">Download PDF</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
  </div>
</body>
</html>
