body {
  font-family: "PT Sans", Arial, sans-serif;
  background: linear-gradient(to right, #e6f2ff, #f9fbff);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.portal-container, .prescriptions-container, .vitals-container{
  background: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  max-width: 600px;
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.portal-container h2 , .prescriptions-container h2, .vitals-container h2{
  text-align: center;
  font-weight: bold;
  color: #0066cc;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile-card {
  background: #f9fbff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.05);
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid #3399ff;
}

.profile-header h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.profile-data {
  padding-left: 20px;
}

.profile-header p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.input-group label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 14px;
  color: #333;
}

.input-group input {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
  border: 1px solid #cce0ff;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: #3399ff;
}

.input-grid {
  background: #f9fbff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.05);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 20px;
}

.detail-item {
  background: #ffffff;
  border: 1px solid #cce0ff;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
}

.label {
  font-weight: bold;
  color: #0066cc;
  margin-right: 5px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.action-btn, .logout-btn, .vitals-btn{
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.3s;
  text-align: center;
  flex: 1;
  margin: 0 5px;
}

.action-btn, .vitals-btn {
  background-color: #3399ff;
  border: 1px solid #3399ff;
  color: white;
}

.action-btn:hover, .vitals-btn:hover {
  background-color: #007acc;
}

.prescription-table {
  width: 100%;
  border-collapse: collapse;
}

.prescription-table th, 
.prescription-table td {
  border: 1px solid #cce0ff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.prescription-table th {
  background: #f0f8ff;
  color: #0066cc;
}

.prescription-active {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  background-color: #d4f8d4;
  color: #2d7a2d;
  border: 1px solid #2d7a2d;
}

.prescription-expired {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  background-color: #e8e8e8;
  color: black;
  border: 1px solid gray;
}

.prescription-button {
  background-color: #f1f1f1;
  border: 1px solid gray;
  color: black;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
  transition: all 0.3s;
}

.prescription-button:hover {
  background-color: #d3d3d3;
}

.logout-btn{
  background-color: #f0f8ff;
  color: #0066cc;
  border: 1px solid #3399ff;
}

.logout-btn:hover{
  background-color: #3399ff;
  color: white;
}



